* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgb(15, 156, 156), rgb(127, 218, 198)) fixed;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}
.header {
  position: sticky;
  top: 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 0.3em solid rgba(8, 80, 182, 0.856);
  margin: 0em 0em 1em;
  align-items: center;
}
.header h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: rgb(118, 115, 115);
}
#logo {
  border: 0.2em solid rgba(15, 185, 185, 0.721);
  padding: 0.5em;
  width: 4em;
  height: 4em;
  border-radius: 1em;
}
.gallery {
  margin: 2em auto;
  width: 70vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  border-radius: 2em;
  box-shadow: 3px 3px 2em 0.3em white;
}

.gallery figure {
    width: 30vw;
    height: 30vh;
    background-color: rgba(154, 151, 151, 0.29);
    align-items: center;
    padding-top: 1em;
    text-align: center;
    overflow: hidden;
    border-radius: 2em 2em 0em 0em;
}
.gallery figure img {
    width: 28vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 2em 2em 0em 0em;
}
.gallery::after {
    content: "";
    width: 28vw;
}
.gallery figure figcaption {
    background-color: rgba(19, 224, 217, 0.747);
    height: 100vh;
    color:rgb(72, 72, 72);
    font-weight: 700;
    padding-top:1em;
}

.gallery figure img:hover {
    opacity: .8;
}